.header-screen
    width: 100vw
    height: 100vh
    background-image: url('../img/wi-fi/header.png')
    background-size: cover
    background-position: center
    position: relative
    &__title
        text-align: center
        font-weight: 900
        margin-top: 15.46vh
        margin-bottom: 6.674vh
    &__text
        margin: 0 auto
        max-width: 582px
        p 
            text-align: center
            font-size: 2.224vh
    &__scroll
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        cursor: pointer
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)
    
